html {
    font-size: 10px;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  h1{
      text-align: center;
      margin: 30px;
  }
.keys{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: auto;
}
button{
    
    margin: 20px;
    width: 75px;
    height: 75px;
}


.scores{
    text-align: center;
}